<!DOCTYPE html>
<html>
<head>
    <title>angularjs binding</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <script type="text/javascript" src="libs/angular.min.js"></script>

    <!-- build:js({.tmp,app}) scripts/binding.js -->
    <script type="text/javascript" src="js/app.js"></script>

    <script type="text/javascript" src="js/binding/simple.js"></script>
    <script type="text/javascript" src="js/binding/array.js"></script>
    <script type="text/javascript" src="js/binding/watch.js"></script>
    <script type="text/javascript" src="js/binding/list.js"></script>
    <script type="text/javascript" src="js/binding/if.js"></script>
    <script type="text/javascript" src="js/binding/switch.js"></script>
    <script type="text/javascript" src="js/binding/region.js"></script>
    <script type="text/javascript" src="js/binding/employee.js"></script>
    <script type="text/javascript" src="js/binding/wave.js"></script>
    <script type="text/javascript" src="js/binding/sort.js"></script>
    <!-- endbuild -->

</head>
<body ng-app="tutor" ng-controller="BindingCtrl">

<ul class="nav nav-tabs">
    <li ng-repeat="item in items" ng-click="change(item)"
        ng-class="{true:'active', false: ''}[item==selectedItem]">
        <a href="javascript:void(0)">{{item.title}}</a>
    </li>
</ul>

<div class="tab-content container" ng-include="selectedItem.url"></div>

</body>
</html>