<div class="panel panel-default ng-scope" ng-controller="EmployeeCtrl">
    <div class="panel-heading">员工列表</div>
    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>姓名</th>
                <th>年龄</th>
                <th>性别</th>
                <th>出生地</th>
                <th>民族</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="employee in employees" ng-click="selectEmployee(employee)"
                ng-class="{true:'info', false: ''}[employee==selectedEmployee]">
                <td>{{employee.name}}</td>
                <td>{{employee.age}}</td>
                <td>{{(employee.gender == "1") ? "男" : "女"}}</td>
                <td>{{employee.province}}省{{employee.city}}市</td>
                <td>{{(employee.minority == "yes") ? employee.nation : "汉族"}}</td>
            </tr>
            </tbody>
        </table>

        <div class="panel panel-default ng-scope">
            <div class="panel-heading">员工详细信息</div>
            <div class="panel-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">姓名</label>

                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="姓名" ng-model="editingEmployee.name"
                                   ng-readonly="!editing"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">年龄</label>

                        <div class="col-sm-8">
                            <input type="number" class="form-control" placeholder="年龄" ng-model="editingEmployee.age"
                                   ng-readonly="!editing"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">性别</label>

                        <div class="col-sm-8">
                            <label class="radio-inline">
                                <input type="radio" name="genderRadioGroup" value="1" ng-disabled="!editing"
                                       ng-model="editingEmployee.gender"/>男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="genderRadioGroup" value="0" ng-disabled="!editing"
                                       ng-model="editingEmployee.gender"/>女
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">出生地</label>

                        <div class="col-sm-4">
                            <select class="form-control" ng-model="editingEmployee.province"
                                    ng-disabled="!editing" ng-options="province for province in provinceArr"></select>
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="editingEmployee.city"
                                    ng-disabled="!editing" ng-options="city for city in cityArr"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">民族</label>

                        <div class="col-sm-8">
                            <label class="radio-inline">
                                <input type="radio" name="nationRadioGroup" value="no" ng-disabled="!editing"
                                       ng-model="editingEmployee.minority"/>汉族
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="nationRadioGroup" value="yes" ng-disabled="!editing"
                                       ng-model="editingEmployee.minority"/>少数民族
                            </label>
                            <input type="text" class="form-control" ng-show="editingEmployee.minority=='yes'"
                                   placeholder="请填写民族" ng-readonly="!editing"
                                   ng-model="editingEmployee.nation"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-8" ng-hide="editing">
                            <button type="button" class="btn btn-default" ng-click="create()">新增</button>
                            <button type="button" class="btn btn-default" ng-click="modify()"
                                    ng-disabled="!selectedEmployee">修改
                            </button>
                            <button type="button" class="btn btn-default" ng-click="remove()"
                                    ng-disabled="!selectedEmployee">删除
                            </button>
                        </div>
                        <div class="col-sm-offset-2 col-sm-8" ng-show="editing">
                            <button type="submit" class="btn btn-default" ng-click="ok()"
                                    ng-disabled="okDisabled()">确定
                            </button>
                            <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>